.seccion-formulario {
  width: 95%;
  margin: 0 auto;
}
.contenedor-formulario {
  width: 30%;
  margin: 0 auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  border: 2px solid black;
}
.formulario label {
  margin: 2rem auto;
  width: 70%;
}
.formulario input {
  margin: 0 auto;
  width: 70%;
}
.formulario textarea {
  margin: 0 auto;
  width: 70%;
}
.formulario button {
  margin: 1rem auto;
  width: 70%;
  background-color: lightslategray;
  color: whitesmoke;
}
.formulario button:hover {
  background-color: lightcyan;
  color: black;
}
